*{
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
    background-color: #321a02ee;
    transition: 0.5s;
}
/*Header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background-color: #febc04;
}
header span{
    font-size: 45px;
}

li{
    text-decoration: none;
    list-style: none;
    position: relative;
    display: block;
    background-color: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0);
   
}

/*Dark Mode e Light Mode*/
label{
    width: 500px;
    height: 200px;
}

/* modo Dark e modo light
.trilho{
    width: 300px;
    height: 150px;
    background-color: #4d4d4d;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
}

.trilho .indicador{
    width: 150px;
    height: 150px;
    background-color: #000;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: .5s;
}

.trilho.dark{
    background-color: #c3c3c3;
}

.trilho.dark .indicador{
left: 150px;
background-color: #fff;
}

body.dark{
    background-color: #e4e4e4;
} */