@import url('https://fonts.googleapis.com/css2?family=Gurajada&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

header img{
    height: 150px;
    width: 100px;
    padding-left: 150px;
    background-color: black;
}

