*{
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
    background-color: #321a02ee;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background-color: #febc04;
}

li{
    text-decoration: none;
   
}